<div class="w-100 bg-dark mb-5">
    <img src="https://www.flaticon.com/svg/static/icons/svg/877/877951.svg" alt="">
    <h1 class="p-2 text-danger">Eat-A-Burger</h1>
</div>
<div class="container">

    <div class="d-flex justify-content-between">
        <div class="w-25">
            <ul class="list-group list-group-flush">
                {{#each burger}}
                {{#unless devoured}}
                <div class="d-flex">
                    <li class="list-group-item d-flex w-100 justify-content-between rounded">
                        <div class="d-flex">
                            <p>{{id}}.) </p>
                            <p>{{burger_name}}</p>
                        </div>
                        <button class="eat btn btn-success ml-3" data-id="{{id}}" data-eaten="true">Devour</button>
                    </li>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="w-25">
            <ul class="list-group ">
                {{#each burger}}
                {{#if devoured}}
                <div class="d-flex">
                    <li class="list-group-item d-flex w-100 justify-content-between rounded">
                        <div class="d-flex">
                            <p>{{id}}.) </p>
                            <p>{{burger_name}}</p>
                        </div>
                        <button class="trash btn btn-danger ml-3" data-id="{{id}}">Remove</button>
                    </li>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div>
        <form id="burgerForm">
            <div>
                <textarea id="burgerText" type="text" name="burger"></textarea>


            </div>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    </div>
</div>